code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

svg{
  height: inherit;
  width: inherit;
}

p{
  margin: 0;
}
/*remover as setinhas dos input dos numeros*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-black);
  border-radius: 4px;
}

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
  --main-blue: #0066cc;
  --main-white: #fafafa;
  --main-black: #666666;
  --main-font-family:'Roboto';
}

body{
  font-family: var(--main-font-family);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF0F5;
  font-family: var(--main-font-family);
  color: var(--main-black);
}

body *{
  font-family: var(--main-font-family);
}
.Content{
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .Content{
    padding-left: 0%;
    padding-right: 0%;
  }
}
